Repository aydee-app/eden-query: changes, and which lefthook commands are due for each by the changed paths.
All: format-miscellaneous, format, lint

format-miscellaneous:
  run: bun prettier --write {staged_files}
  stage_fixed: true

format:
  run: bun prettier --write {staged_files}
  stage_fixed: true

lint:
  run: bun eslint --fix {staged_files}
  stage_fixed: true

chore(eden): 🔧 remove dummy scripts
  packages/eden/scripts/build.js
Due: format, lint

fix(eden-fetch): 🐛 properly forward request options
  packages/eden/src/eden/fetch.ts
Due: format, lint

test(eden): 🚨 update snapshot
  packages/eden/tests/links/logger-link.test.ts
Due: format, lint

test(eden): 🚨 batch deserializer for GET requests
  packages/eden/src/batch/deserializers/get.ts
  packages/eden/tests/batch/deserializers/get.test.ts
Due: format, lint

feat(eden resolve): handle both request-specific and global headers
  packages/eden/src/core/resolve.ts
Due: format, lint

test(eden): 🚨 batch deserializers
  packages/eden/package.json
  packages/eden/src/batch/deserializers/get.ts
  packages/eden/src/batch/deserializers/post.ts
  packages/eden/src/batch/shared.ts
  packages/eden/tests/batch/deserializers/get.test.ts
  packages/eden/tests/batch/deserializers/post.test.ts
Due: format-miscellaneous, format, lint

test(eden): 🚨 tests for WebSocketConnection
  packages/eden/package.json
  packages/eden/src/ws/connection.ts
  packages/eden/tests/ws/connection.test.ts
Due: format-miscellaneous, format, lint

test(eden): 🚨 fully tested WebSocketConnection
  packages/eden/src/ws/client.ts
  packages/eden/src/ws/connection.ts
  packages/eden/tests/create-ws-app.ts
  packages/eden/tests/ws/connection.test.ts
Due: format, lint

test(eden): 🚨 initial tests for WebSocketClient
  packages/eden/src/ws/client.ts
  packages/eden/tests/ws/client.test.ts
  packages/eden/tests/ws/connection.test.ts
Due: format, lint

chore(eden): 🔧 make path for operation optional
  packages/eden/src/links/types.ts
Due: format, lint

fix(eden): 🐛 use correct property for store
  packages/eden/src/plugins/transform.ts
Due: format, lint

fix(eden): 🐛 properly resolve request options for batched GET request
  packages/eden/src/batch/serializers/get.ts
  packages/eden/src/batch/serializers/post.ts
Due: format, lint

test(eden): 🚨 half tested WebSocketClient
  packages/eden/package.json
  packages/eden/src/ws/client.ts
  packages/eden/tests/ws/client.test.ts
Due: format-miscellaneous, format, lint

test(eden): 🚨 make mock test for connection-state behavior-subject more specific
  packages/eden/tests/ws/client.test.ts
Due: format, lint

chore(eden): 🔧 document batch deserializer and test out internal eden request options
  packages/eden/src/batch/deserializers/config.ts
  packages/eden/src/batch/deserializers/get.ts
  packages/eden/src/core/config.ts
Due: format, lint

refactor(eden): ♻️ major clean up of internal interfaces and simplified code logic
  packages/eden/src/batch/deserializers/config.ts
  packages/eden/src/batch/deserializers/get.ts
  packages/eden/src/batch/deserializers/post.ts
  packages/eden/src/batch/serializers/get.ts
  packages/eden/src/batch/shared.ts
  packages/eden/src/constants.ts
  packages/eden/src/core/config.ts
  packages/eden/src/core/resolve.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/links/http-batch-link.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/plugins/batch.ts
  packages/eden/src/utils/deep-merge.ts
  packages/eden/src/utils/query.ts
  packages/eden/tests/batch/deserializers/get.test.ts
  packages/eden/tests/batch/deserializers/post.test.ts
Due: format, lint

chore(eden): 🔧 remove trpc file
  packages/eden/src/core/trpc.ts
Due: format, lint

feat(eden): ✨ clean up ws testing and coverage config
  packages/eden/src/ws/client.ts
  packages/eden/src/ws/connection.ts
  packages/eden/tests/ws/client.test.ts
  packages/eden/vitest.config.js
Due: format, lint

perf(eden): ⚡️ simplify form-data and json and file handling
  packages/eden/src/core/resolve.ts
  packages/eden/src/utils/file.ts
  packages/eden/src/utils/form-data.ts
  packages/eden/tests/core/resolve.test.ts
Due: format, lint

chore(eden): 🔧 remove unnecessary is-object utility
  packages/eden/src/utils/is-object.ts
Due: format, lint

feat(eden): ✨ allow more flexible http methods for batch
  packages/eden/src/batch/deserializers/config.ts
  packages/eden/src/links/http-batch-link.ts
Due: format, lint

style(eden): 🎨 clean up code
  packages/eden/src/batch/serializers/post.ts
  packages/eden/src/core/dto.ts
  packages/eden/src/core/response.ts
  packages/eden/src/eden/config.ts
  packages/eden/src/links/http-link.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/utils/file.ts
  packages/eden/src/ws/client.ts
  packages/eden/tests/create-ws-app.ts
Due: format, lint

feat(svelte-query): ✨ initial project (re) creation
  bun.lock
  packages/svelte-query/package.json
Due: format-miscellaneous

feat(svelte-query): ✨ proof-of-concept implementation
  bun.lock
  packages/svelte-query/package.json
  packages/svelte-query/src/implementation/treaty/index.ts
  packages/svelte-query/tsconfig.json
  packages/tanstack-query/src/index.ts
  packages/tanstack-query/src/shared.ts
Due: format-miscellaneous, format, lint

feat(svelte-query): ✨ treaty mvp
  bun.lock
  examples/svelte/package.json
  examples/svelte/src/lib/eden.ts
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/batch/+page.svelte
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/treaty/index.ts
  packages/tanstack-query/src/shared.ts
  packages/tanstack-query/src/treaty.ts
Due: format-miscellaneous, format, lint

feat(svelte-query): ✨ mvp and restart example
  examples/svelte/src/routes/batch/+page.svelte
  examples/svelte/src/routes/reactive-input/+page.svelte
  examples/svelte/src/routes/ssr/+page.server.ts
  examples/svelte/src/routes/ssr/+page.svelte
  packages/svelte-query/src/fetch.ts
  packages/svelte-query/src/treaty.ts
  packages/svelte-query/src/types.ts
Due: format, lint

feat: almost ready for release
  examples/svelte/src/hooks.server.ts
  examples/svelte/src/lib/eden.ts
  examples/svelte/src/routes/(treaty)/create-queries/+page.svelte
  examples/svelte/src/routes/(treaty)/mutation-path-params/+page.svelte
  examples/svelte/src/routes/(treaty)/query-path-params/+page.svelte
  examples/svelte/src/routes/(treaty)/sse/+page.svelte
  examples/svelte/src/routes/(treaty)/ssr/+page.server.ts
  examples/svelte/src/routes/(treaty)/ssr/+page.svelte
  examples/svelte/src/routes/+layout.server.ts
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/+layout.ts
  examples/svelte/src/routes/fetch-svelte-query/create-queries/+page.svelte
  examples/svelte/src/routes/fetch-svelte-query/mutation-path-params/+page.svelte
  examples/svelte/src/routes/fetch-svelte-query/query-path-params/+page.svelte
  examples/svelte/src/routes/fetch-svelte-query/ssr/+page.server.ts
  examples/svelte/src/routes/fetch-svelte-query/ssr/+page.svelte
  examples/svelte/src/server.ts
  packages/eden/src/constants.ts
  packages/eden/src/core/resolve.ts
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/plugins/transform.ts
  packages/eden/src/utils/async-iterable.ts
  packages/svelte-query/src/fetch.ts
  packages/svelte-query/src/treaty.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/tsconfig.json
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/shared.ts
  packages/tanstack-query/src/treaty.ts
Due: format-miscellaneous, format, lint

feat: ✨ clean up fetch and treaty interop
  packages/svelte-query/src/fetch.ts
  packages/svelte-query/src/treaty.ts
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/treaty.ts
Due: format, lint

feat(tests): ✨ test project like tRPC
  bun.lock
  packages/tests/README.md
  packages/tests/package.json
Due: format-miscellaneous

feat(tests): ✨ new test suite
  bun.lock
  packages/eden/src/batch/deserializers/config.ts
  packages/eden/src/batch/deserializers/get.ts
  packages/eden/src/client.ts
  packages/eden/src/core/config.ts
  packages/eden/src/core/error-codes.ts
  packages/eden/src/core/error.ts
  packages/eden/src/index.ts
  packages/eden/src/links/http-batch-link.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/links/logger-link.ts
  packages/eden/src/links/retry-link.ts
  packages/eden/src/links/types.ts
  packages/eden/src/ws/client.ts
  packages/eden/src/ws/request-manager.ts
  packages/eden/tests/client/http-batch-subscription-link.test.ts
  packages/eden/tests/eden/fetch.test-d.ts
  packages/tests/package.json
  packages/tests/server/EdenError.test.ts
  packages/tests/server/abort.test.ts
  packages/tests/server/batching.test.ts
  packages/tests/setup.ts
  packages/tests/tsconfig.json
  packages/tests/vitest.config.js
Due: format-miscellaneous, format, lint

style(svelte example): clean up code
  examples/svelte/src/routes/(treaty)/create-queries/+page.svelte
  examples/svelte/src/routes/(treaty)/mutation-path-params/+page.svelte
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/fetch-svelte-query/mutation-path-params/+page.svelte
  examples/svelte/src/routes/fetch-svelte-query/ssr/+page.server.ts
  examples/svelte/src/routes/fetch-svelte-query/ssr/+page.svelte
Due: format, lint

test: 🚨 sse subscriptions
  bun.lock
  packages/eden/src/core/error-codes.ts
  packages/eden/src/index.ts
  packages/eden/src/links/http-batch-subscription-link.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/links/index.ts
  packages/eden/src/links/types.ts
  packages/eden/src/utils/async-iterable.ts
  packages/tests/index.ts
  packages/tests/package.json
  packages/tests/server/client-internals.test.ts
  packages/tests/server/create-client.test.ts
  packages/tests/server/http-subscription-link.headers.retry-link.test.ts
  packages/tests/setup.ts
  packages/tests/vitest.config.js
Due: format-miscellaneous, format, lint

refactor(eden): ♻️ simplify batch serializer/deserializer by sharing logic
  packages/eden/src/batch/deserializers/post.ts
  packages/eden/src/batch/serializers/get.ts
  packages/eden/src/batch/serializers/post.ts
Due: format, lint

feat(docs): ✨ 📚️ project skeleton
  docs/.gitignore
  docs/bun.lock
  docs/package.json
Due: format-miscellaneous

feat(docs): ✨ 📚️ starter svelte project
  docs/bun.lock
  docs/package.json
  docs/src/app.html
  docs/src/routes/+page.svelte
  docs/svelte.config.js
  docs/tsconfig.json
  docs/vite.config.js
Due: format-miscellaneous, format, lint

feat(eden): initial documentation in README
  packages/eden/README.md
Due: none

feat(eden): ✨ export named plugins without the "plugin" suffix
  packages/eden/src/plugins/batch.ts
  packages/eden/src/plugins/transform.ts
  packages/eden/src/plugins/ws.ts
Due: format, lint

fix(docs): remove whitespace from floating-render-svelte-component
  docs/src/lib/mdsx/floating-renderer-svelte-components/root.svelte
Due: format, lint

Path conditions:
  format-miscellaneous: any of: *.{css,json,yml,yaml}
  format: any of: *.{svelte,js,jsx,ts,tsx}
  lint: any of: *.{svelte,js,jsx,ts,tsx}
