Repository aydee-app/eden-query: changes, and which lefthook commands are due for each by the changed paths.
All: format-miscellaneous, format, lint

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
---
pre-commit:
  commands:
    format-miscellaneous:
      glob: '*.{css,json,yml,yaml}'
      run: bun prettier --write {staged_files}
      stage_fixed: true
    format:
      glob: '*.{svelte,js,jsx,ts,tsx}'
      run: bun prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{svelte,js,jsx,ts,tsx}'
      run: bun eslint --fix {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit $1
    devmoji:
      run: npx --no -- devmoji --edit --config devmoji.config.cjs

fix(docs): remove whitespace from floating-renderer-svelte-component
  documentation/src/lib/mdsx/floating-renderer-svelte-components/root.svelte
Due: format, lint

feat(docs): ✨ 📚️ index page mvp
  documentation/src/routes/+page.md
  documentation/src/routes/hero.svelte
  documentation/src/routes/ray.svelte
Due: format, lint

feat(docs): ✨ 📚️ wip search engine
  bun.lock
  documentation/README.md
  documentation/bun.lock
  documentation/src/lib/docs/search/providers/local.ts
  documentation/src/lib/docs/search/utils.ts
  package.json
Due: format-miscellaneous, format, lint

feat(docs): wip svelte parser
  bun.lock
  documentation/index.ts
  documentation/package.json
  documentation/src/lib/rspress/constants.ts
  documentation/src/lib/rspress/plugin-driver.ts
  documentation/src/lib/rspress/route/normalize-route-path.ts
  documentation/src/lib/rspress/route/route-service.ts
  documentation/src/routes/(docs)/+page.md
  documentation/src/routes/guide/+page.svelte
Due: format-miscellaneous, format, lint

style(eden): 🎨 simplify options merging
  packages/eden/src/client.ts
Due: format, lint

feat(docs): ✨ 📚️ wip for loading components in server.ts endpoint
  bun.lock
  documentation/package.json
  documentation/src/routes/(docs)/+page.md
  documentation/src/routes/+layout.server.ts
Due: format-miscellaneous, format, lint

feat: ✨ ready to test
  .changeset/real-singers-appear.md
  packages/eden/package.json
Due: format-miscellaneous

fix: 🐛 publish config
  .changeset/stupid-owls-spend.md
  packages/eden/package.json
  packages/svelte-query/package.json
  packages/tanstack-query/package.json
Due: format-miscellaneous

fix: 🐛 config
  .changeset/quick-lights-clean.md
  .changeset/some-hornets-exist.md
  package.json
  packages/eden/package.json
  packages/svelte-query/package.json
  packages/tanstack-query/package.json
Due: format-miscellaneous

feat: ✨ try release
  .changeset/famous-schools-rhyme.md
Due: none

fix(eden): 🐛 ws types
  packages/eden/src/ws/client.ts
Due: format, lint

fix: 🐛 build
  .changeset/real-jeans-take.md
  .github/workflows/release-next.yml
  packages/svelte-query/rslib.config.js
  packages/svelte-query/tsconfig.build.json
Due: format-miscellaneous, format, lint

fix: 🐛 switch to pnpm for release
  .changeset/twenty-clouds-carry.md
  .github/workflows/release-next.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-miscellaneous

fix: 🐛 setup bun too
  .github/workflows/release-next.yml
Due: format-miscellaneous

chore: 🔧 re-release
  .changeset/tidy-mirrors-exist.md
Due: none

fix: 🐛 pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-miscellaneous

fix(docs): 🐛 📚️ install acorn
  documentation/package.json
  pnpm-lock.yaml
Due: format-miscellaneous

fix(eden): 🐛 too new toArray api
  packages/eden/src/batch/deserializers/post.ts
Due: format, lint

fix: 🐛 add dist and typesversions
  .changeset/shaky-bottles-join.md
  packages/eden/package.json
  packages/svelte-query/package.json
  packages/tanstack-query/package.json
Due: format-miscellaneous

fix: 🐛 remove .gitignore from individual packages
  .changeset/witty-brooms-smile.md
  .gitignore
  packages/eden/.gitignore
  packages/tanstack-query/.gitignore
Due: none

fix: 🐛 bundle everything
  .changeset/wide-bikes-wash.md
  packages/svelte-query/rslib.config.js
  packages/tanstack-query/rslib.config.js
Due: format, lint

fix: 🐛 only bundle devDependencies
  bun.lock
  packages/svelte-query/package.json
  packages/svelte-query/rslib.config.js
  packages/tanstack-query/package.json
  pnpm-lock.yaml
Due: format-miscellaneous, format, lint

feat: ✨ accommodate new elysia routes property
  .changeset/itchy-pugs-behave.md
  packages/eden/src/core/types.ts
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
  packages/svelte-query/src/fetch.ts
  packages/svelte-query/src/treaty.ts
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/treaty.ts
Due: format, lint

chore: 🔧 update bun
  .tool-versions
  bun.lock
Due: none

feat: basic search proof of concept
  bun.lock
  documentation/index.ts
  documentation/package.json
  documentation/src/lib/components/theme-toggle.svelte
  documentation/src/lib/docs/search/page-searcher.ts
  documentation/src/lib/docs/search/providers/local.ts
  documentation/src/lib/docs/search/providers/remote.ts
  documentation/src/lib/rspress/plugin-driver.ts
  documentation/src/routes/+layout.server.ts
  documentation/src/routes/+page.svelte
  documentation/src/routes/guide/+page.md
  documentation/src/routes/guide/+page.svelte
Due: format-miscellaneous, format, lint

fix: 🐛 use correct html source
  documentation/src/routes/+layout.server.ts
Due: format, lint

feat: ✨ mvp search
  documentation/src/lib/docs/search/providers/local.ts
  documentation/src/routes/header.svelte
  documentation/src/routes/static/[slug]/+server.ts
Due: format, lint

chore: 🔧 update versions
  .changeset/slow-gifts-battle.md
Due: none

chore: 🔧 update pnpm lock file
  pnpm-lock.yaml
Due: format-miscellaneous

chore: 🔧 update dependencies
  .changeset/yummy-games-punch.md
  .tool-versions
  bun.lock
  documentation/package.json
  package.json
  packages/eden/package.json
  packages/svelte-query/package.json
  packages/tanstack-query/package.json
  packages/tests/package.json
Due: format-miscellaneous

chore: 🔧 remove async iterable transform
  .changeset/smart-candles-push.md
  packages/eden/src/plugins/transform.ts
Due: format, lint

fix: 🐛 async iterable
  .changeset/cool-webs-like.md
  packages/eden/src/plugins/transform.ts
Due: format, lint

fix: 🐛 async iterable transform again - return nothing
  .changeset/better-guests-brake.md
  packages/eden/src/plugins/transform.ts
Due: format, lint

fix: 🐛 do not transform response if undefined
  .changeset/chatty-rings-tap.md
  packages/eden/src/plugins/transform.ts
Due: format, lint

fix: 🐛 do not override existing state with elysia.js plugins
  .changeset/eighty-games-cut.md
  packages/eden/src/plugins/batch.ts
  packages/eden/src/plugins/transform.ts
  packages/eden/src/plugins/ws.ts
Due: format, lint

fix: 🐛 use TypedEdenResolverConfg with transformer types
  .changeset/hungry-lies-drum.md
  packages/eden/src/core/config.ts
  packages/svelte-query/src/fetch.ts
  packages/svelte-query/src/treaty.ts
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/treaty.ts
Due: format, lint
