Repository aydee-app/eden-query: changes, and which lefthook commands are due for each by the changed paths.
All: format-miscellaneous, format, lint

format-miscellaneous:
  run: bun prettier --write {staged_files}
  stage_fixed: true

format:
  run: bun prettier --write {staged_files}
  stage_fixed: true

lint:
  run: bun eslint --fix {staged_files}
  stage_fixed: true

feat(eden): treaty progress
  packages/eden/src/eden/treaty.ts
  packages/eden/src/utils/types.ts
Due: format, lint

feat(eden): ✨ mvp treaty
  packages/eden/package.json
  packages/eden/src/constants.ts
  packages/eden/src/eden/path-param.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/tests/eden/path-param.test.ts
  packages/eden/tests/eden/treaty.test.ts
Due: format-miscellaneous, format, lint

refactor(eden): ♻️ error
  packages/eden/src/core/config.ts
  packages/eden/src/core/dto.ts
  packages/eden/src/core/error-codes.ts
  packages/eden/src/core/error.ts
  packages/eden/src/core/resolve.ts
  packages/eden/src/core/trpc.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/utils/is-object.ts
  packages/eden/src/utils/types.ts
Due: format, lint

test(eden): 🚨 enable all http-batch-link tests
  packages/eden/tests/links/http-batch-link.test.ts
Due: format, lint

feat(eden): ✨ eden-treaty with links api
  packages/eden/src/eden/config.ts
  packages/eden/src/eden/path-param.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/tests/eden/treaty.test.ts
Due: format, lint

feat(eden): ✨ updated links api and confirm treaty works
  packages/eden/src/client.ts
  packages/eden/src/eden/config.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/links/http-batch-link.ts
  packages/eden/src/links/http-link.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/links/types.ts
  packages/eden/src/links/ws-link.ts
  packages/eden/tests/eden/treaty.test.ts
Due: format, lint

feat(eden): ✨ ws
  packages/eden/package.json
  packages/eden/src/eden/treaty.ts
  packages/eden/src/eden/ws.ts
  packages/eden/tests/eden/treaty.test.ts
Due: format-miscellaneous, format, lint

feat(eden): ✨ fetch proof of concept
  packages/eden/package.json
  packages/eden/src/client.ts
  packages/eden/src/eden/config.ts
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/utils/types.ts
  packages/eden/tests/eden/fetch.test.ts
Due: format-miscellaneous, format, lint

refactor(eden): ♻️ clean up fetch type parameters
  packages/eden/src/eden/fetch.ts
Due: format, lint

test(eden): 🚨 fetch
  packages/eden/src/eden/fetch.ts
  packages/eden/tests/eden/fetch.test-d.ts
  packages/eden/tests/plugins/transform.test-d.ts
Due: format, lint

test(eden): 🚨 treaty
  packages/eden/package.json
  packages/eden/src/core/response.ts
  packages/eden/tests/eden/treaty.test.ts
Due: format-miscellaneous, format, lint

style(eden): 🎨 code clean up
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
Due: format, lint

feat(tanstack-query): wip
  bun.lock
  packages/eden/package.json
  packages/eden/src/eden/treaty.ts
  packages/eden/src/index.ts
  packages/eden/src/links/index.ts
  packages/svelte-query/package.json
  packages/svelte-query/src/treaty.ts
  packages/svelte-query/tsconfig.json
  packages/tanstack-query/package.json
  packages/tanstack-query/src/treaty.ts
  packages/tanstack-query/tsconfig.json
Due: format-miscellaneous, format, lint

feat(tanstack-query): ✨ example of integrating with all tanstack-query libraries
  bun.lock
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/index.ts
  packages/svelte-query/src/treaty.ts
  packages/tanstack-query/package.json
  packages/tanstack-query/src/treaty.ts
  packages/tanstack-query/tests/basic.test.ts
  packages/tanstack-query/tests/setup.ts
  packages/tanstack-query/vitest.config.js
Due: format-miscellaneous, format, lint

feat(tanstack-query): ✨ react
  bun.lock
  packages/eden/package.json
  packages/eden/src/plugins/index.ts
  packages/tanstack-query/package.json
  packages/tanstack-query/src/treaty.ts
  packages/tanstack-query/tests/basic.test.ts
  packages/tanstack-query/tests/react/use-query.test.tsx
  packages/tanstack-query/tests/react/wrapper.tsx
  packages/tanstack-query/tests/setup.ts
  packages/tanstack-query/tsconfig.json
  packages/tanstack-query/vitest.config.js
Due: format-miscellaneous, format, lint

chore(tanstack-query): 🔧 move non-framework tests to separate folder
  packages/tanstack-query/tests/vanilla/basic.test.ts
Due: format, lint

feat(tanstack-query): testing proof-of-concept
  bun.lock
  packages/eden/src/index.ts
  packages/tanstack-query/package.json
  packages/tanstack-query/src/treaty.ts
  packages/tanstack-query/svelte.config.js
  packages/tanstack-query/tests/solid/use-query.test.tsx
  packages/tanstack-query/tests/solid/wrapper.tsx
  packages/tanstack-query/tests/svelte/create-query.test.ts
  packages/tanstack-query/tests/svelte/render-hook.ts
  packages/tanstack-query/tests/svelte/wrapper.svelte
  packages/tanstack-query/tests/vanilla/basic.test.ts
  packages/tanstack-query/tests/vue/create-query.test.tsx
  packages/tanstack-query/tests/vue/create-query.vue
  packages/tanstack-query/vitest.config.js
Due: format-miscellaneous, format, lint

style(tanstack-query): 🎨 clean up code formatting
  packages/tanstack-query/src/treaty.ts
Due: format, lint

chore: 🔧 changesets
  .changeset/pre.json
  .github/workflows/release-next.yml
Due: format-miscellaneous

fix: 🐛 github workflows for bun
  .github/workflows/release-next.yml
Due: format-miscellaneous

fix: 🐛 remove filter from build command
  .github/workflows/release-next.yml
Due: format-miscellaneous

fix: 🐛 remove recursive turbo build
  .github/workflows/release-next.yml
Due: format-miscellaneous

fix: 🐛 remove commands from project root
  package.json
Due: format-miscellaneous

chore: 🔧 enter next release mode
  .changeset/pre.json
Due: format-miscellaneous

fix: 🐛 versions and clean up packages
  bun.lock
  packages/svelte-query/package.json
  packages/svelte-query/src/treaty.ts
  packages/svelte-query/tsconfig.json
  packages/tanstack-query/package.json
Due: format-miscellaneous, format, lint

chore: 🔧 clean up changesets
  .changeset/curvy-hoops-love.md
  .changeset/early-actors-film.md
  .changeset/loud-pandas-behave.md
  .changeset/pre.json
  .changeset/spicy-chicken-mate.md
Due: format-miscellaneous

feat: ✨ major pre-release tanstack-query integration
  .changeset/sixty-eggs-march.md
Due: none

feat: ✨ build with rslib
  bun.lock
  packages/eden/package.json
  packages/eden/rslib.config.js
  packages/eden/scripts/build.js
  packages/eden/tsconfig.json
  packages/tanstack-query/.gitignore
  packages/tanstack-query/package.json
  packages/tanstack-query/rslib.config.js
  packages/tanstack-query/src/index.ts
  packages/tanstack-query/tsconfig.json
Due: format-miscellaneous, format, lint

feat(tanstack-query): ✨ fetch
  packages/eden/package.json
  packages/eden/src/core/infer.ts
  packages/eden/src/eden/config.ts
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/index.ts
  packages/eden/src/utils/types.ts
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/index.ts
Due: format-miscellaneous, format, lint

feat(eden, tanstack-query): type system mvp
  eslint.config.js
  packages/eden/package.json
  packages/eden/rslib.config.js
  packages/eden/src/core/infer.ts
  packages/eden/src/eden/fetch.ts
  packages/eden/tests/eden/fetch.test-d.ts
  packages/eden/tsconfig.build.json
  packages/tanstack-query/rslib.config.js
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/shared.ts
  packages/tanstack-query/src/treaty.ts
  packages/tanstack-query/tests/fetch.test-d.ts
  packages/tanstack-query/tests/svelte/create-query.test.ts
  packages/tanstack-query/tests/vanilla/basic.test.ts
  packages/tanstack-query/tsconfig.build.json
  packages/tanstack-query/tsconfig.json
  packages/tanstack-query/vitest.config.js
Due: format-miscellaneous, format, lint

chore: 🔧 use typescript source files exports for local testing
  packages/eden/package.json
  packages/tanstack-query/package.json
Due: format-miscellaneous

feat(svelte): ssr and examples
  bun.lock
  examples/svelte/.gitignore
  examples/svelte/package.json
  examples/svelte/src/app.d.ts
  examples/svelte/src/app.html
  examples/svelte/src/hooks.server.ts
  examples/svelte/src/lib/eden.ts
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/+layout.ts
  examples/svelte/src/routes/+page.svelte
  examples/svelte/src/routes/api/[...elysia]/+server.ts
  examples/svelte/src/routes/batch/+page.svelte
  examples/svelte/src/routes/reactive-input/+page.svelte
  examples/svelte/src/routes/ssr/+page.server.ts
  examples/svelte/src/routes/ssr/+page.svelte
  examples/svelte/src/server.ts
  examples/svelte/svelte.config.js
  examples/svelte/tsconfig.json
  examples/svelte/vite.config.js
  package.json
  packages/eden/src/eden/treaty.ts
  packages/tanstack-query/src/treaty.ts
Due: format-miscellaneous, format, lint

refactor(eden): ♻️ clean up types
  packages/eden/src/batch/deserializers/config.ts
  packages/eden/src/batch/deserializers/get.ts
  packages/eden/src/batch/deserializers/post.ts
  packages/eden/src/batch/serializers/get.ts
  packages/eden/src/batch/serializers/post.ts
  packages/eden/src/client.ts
  packages/eden/src/core/config.ts
  packages/eden/src/core/dto.ts
  packages/eden/src/core/error-codes.ts
  packages/eden/src/core/infer.ts
  packages/eden/src/core/resolve.ts
  packages/eden/src/eden/config.ts
  packages/eden/src/eden/fetch.ts
  packages/eden/src/eden/treaty.ts
  packages/eden/src/links/http-batch-link.ts
  packages/eden/src/links/http-link.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/links/shared.ts
  packages/eden/src/links/types.ts
  packages/eden/src/plugins/ws.ts
  packages/eden/src/ws/client.ts
  packages/eden/src/ws/connection.ts
  packages/eden/src/ws/request-manager.ts
  packages/eden/tests/client/index.test.ts
  packages/eden/tests/core/resolve.test.ts
  packages/eden/tests/links/http-batch-link.test.ts
  packages/eden/tests/links/logger-link.test.ts
  packages/eden/tests/links/split-link.test.ts
Due: format, lint

refactor(eden): ♻️ error interface
  packages/eden/src/core/dto.ts
  packages/eden/src/core/error.ts
Due: format, lint

refactor(eden): ♻️ error interface
  packages/eden/src/core/config.ts
  packages/eden/src/core/dto.ts
  packages/eden/src/core/error-codes.ts
  packages/eden/src/core/error.ts
  packages/eden/src/core/resolve.ts
  packages/eden/src/ws/client.ts
  packages/eden/tests/client/index.test.ts
  packages/eden/tests/links/logger-link.test.ts
Due: format, lint

feat(eden): ✨ some details about errors
  packages/eden/src/core/error.ts
Due: format, lint

feat(eden): ✨ documented error interface
  packages/eden/src/core/error.ts
Due: format, lint

feat(eden): ✨ universal root config and new error interface
  packages/eden/src/core/error-codes.ts
  packages/eden/src/core/types.ts
  packages/eden/src/links/http-subscription-link.ts
  packages/eden/src/ws/client.ts
Due: format, lint

feat(eden): ✨ add status and value to base error interface
  packages/eden/src/core/error.ts
Due: format, lint

fix(tanstack-query): 🐛 imported type
  packages/tanstack-query/src/treaty.ts
Due: format, lint

Path conditions:
  format-miscellaneous: any of: *.{css,json,yml,yaml}
  format: any of: *.{svelte,js,jsx,ts,tsx}
  lint: any of: *.{svelte,js,jsx,ts,tsx}
